
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>Departmen</th>
    </tr>
    <tr>
        <td>1</td>
        <td>AD</td>
        <td>Departmen</td>
    </tr>
</table>

